<!DOCTYPE html>
<html>
<head>
  <title>NBSAP Forum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="center-content">
    <header>
      <%= image_tag  "NBSAP-Logo.png", alt: 'NBSAP Forum' %>
      <aside>Support for actions on NBSAPs</aside>
    </header>
    <%= yield %>

  </div>

  <footer>
    <div class="center-content">
      <div class="left">
        <h4>NBSAP Forum is a joint initiative by</h4>
        <%= image_tag "cbd-logo.png" %>
        <%= image_tag "unep-logo.png" %>
        <%= image_tag "undp-logo.png" %>
      </div>
      <div class="right">
        <a href="#">About NBSAPs</a>
        <a href="#">NBSAP Finance</a>
      </div>
    </div>
  </footer>
</body>
</html>
